 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        /* background-color: #fefefe; */
        background:rgb(231 232 240);
        font-family: Raleway;
    color: #364e7e
      }